body{
    background: whitesmoke;
}

form{
    width: 60%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    margin-top: 250px;
    padding-bottom: 50px;
}

.input{
    padding: 15px;
    margin-bottom: 10px;
}

input{
    width: 100%;
    height: 50px;
    border-radius: 10px; 
    font-size: 20px;
    padding:10px 0px 10px 10px;
    box-sizing: border-box;
}

button{
    width: 150px;
    height: 50px;
    background: black;
    color: white;
    border-radius: 10px;
    margin-left: 17px;
    font-size: 20px;
    margin-top: -15px;

}

button:hover{
    background: whitesmoke;
    color: black;
    border: 2px solid black;
}

.error{
    background: rgb(255, 102, 102);
    border-radius: 10px;
    width: 98%;
    padding: 2px 5px;
}

a{
    display: block;
    text-align: center;
    text-decoration: None;
    margin-top: -15px;
}

a:hover{
    color:red;
}