ul{
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 50px;

}

a{
    text-decoration: none;
    font-size: 20px;
    color:black;
}

a:hover{
    color:red
}
